<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mateusz.workoutcustomer">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_logo"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_logo_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".CalendaraActivity">
        </activity>
        <activity android:name=".HomeActivity">
        </activity>
        <activity android:name=".Screen">
        </activity>
        <activity android:name=".ScreenSlide">
        </activity>
        <activity android:name=".ScreenSlidePageFragment">
        </activity>
        <activity
                android:name=".menu.MenuActivity"
                android:label="@string/title_activity_menu">
        </activity>
        <activity android:name=".menu.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts"/>
    </application>

</manifest>